<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
  <style type="text/css">
    html, body { margin: 15px;  background: black; color: #fff; }
    h1 { border-bottom: 1px solid; padding-bottom: 5px; margin-bottom: 10px; }
    .pure-button { background-color: #8c4141; color: #fff; }
    .sound-list, .sound-category-list { list-style-type: none; padding: 0; column-count: 2; }
    .sound-category { margin-top: 10px; margin-bottom: 10px; break-before: always; }
    .sound-category-name { font-size: 22px; font-weight: bold; }
    .sound-category-list { margin-top: 5px; }
    .sound { min-height: 28px; }
    .sound-name { display: inline-block; width: 250px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    .sound a { color: #fff; text-decoration: none; }
    .sound .options a { display: inline-block; background-color: #8c4141; padding: 3px 5px; color: #fff; font-size: 14px; text-decoration: none; margin-left: 3px; }
  </style>
  <title>{{ .GuildName }} - Sound Board</title>
</head>

<body>
  <h1>{{ .GuildName }} - Sound Board</h1>
  <div class="options">
    <a class="pure-button pure-button-primary" id="stop" data-action="stop">Stop Current Playback</a>
    <a class="pure-button pure-button-primary" id="play-multi" data-action="play-multi">Play Multiple Sounds</a>
  </div>
  <ul class="sound-list">
    {{ range $cat := .Categories }}
    <li class="sound-category">
      <span class="sound-category-name">{{index $cat 1}}</span>
    </li>

      {{ range $name := $.Sounds }}
        {{ if $.Categories.SoundInCategory $name $cat }}
          <li class="sound">
            <span class="sound-name" title="{{ soundNiceName $name $cat $.ReplaceWords }}">
              <a
                href="/play?guild={{ $.GuildID }}&channel={{ $.ChannelID }}&sound={{ $name }}"
                data-sound="{{ $name }}"
                data-action="play"
              >{{ soundNiceName $name $cat $.ReplaceWords }}</a>
            </span>
            <span class="options">
              <a
                href="/play?guild={{ $.GuildID }}&channel={{ $.ChannelID }}&sound={{ $name }}"
                data-sound="{{ $name }}"
                data-action="play"
              >Play</a>
              <a 
                href="/download?sound={{ $name }}"
                data-sound="{{ $name }}"
                data-action="preview"
              >Preview</a>
            </span>
          </li>
        {{ end }}
      {{ end }}

    </li>
    
    {{ end }}
  </ul>


  <script type="text/javascript">
    var exports = {};
  </script>
  <script type="text/javascript" src="/app.js"></script>
  <script type="text/javascript">
    init("{{ $.GuildID }}", "{{ $.ChannelID }}");
  </script>

</body>

</html>
