SOUNDBOARD_DISCORD_BOT_TOKEN=TOKEN_HERE
SOUNDBOARD_DISCORD_OAUTH_CLIENT_ID=CLIENT_ID_HERE
SOUNDBOARD_DISCORD_OAUTH_CLIENT_SECRET=CLIENT_SECRET_HERE
SOUNDBOARD_REDIRECT_URL=http://localhost:8081/redirect
SOUNDBOARD_STORAGE_PATH=storage