{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/app.css">
  <title>{{ .AppName }}</title>
</head>

<body>

    <div id="header">
        <form id="guild-select" name="guild-select" action="/" method="GET">
            <select id="guild-selection" name="guild"></select>
        </form>
        <h1>{{ .AppName }}</h1>
    </div>

    <div id="modal">
        <div id="modal-inner">
            {{ template "modal" . }}
        </div>
    </div>

    <div id="body">
    {{ template "body" . }}
    </div>
    
    {{ template "scripts" . }}
</body>

</html>
{{ end }}