@use 'vars';

.sound-admin {
    input[type='file'] {
        display: none;
    }
    .categories,
    .sounds {
        display: inline-block;
        vertical-align: top;
        width: 250px;
        margin-bottom: 15px;
    }
    .categories {
        border-right: 1px solid vars.$foreground-color;
        margin-right: 10px;
        height: 500px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .section-title {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    &.loading {
        .sound-admin-option {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}

.sound-admin-option {
    padding: 10px 10px 10px 20px;
    margin: 5px 15px 5px 0px;
    background-color: vars.$primary-color;
    user-select: none;
    position: relative;

    span {
        display: inline-block;
        width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    a {
        text-decoration: none;
        display: block;
        float: right;
        margin-left: 3px;
        cursor: pointer;
    }

    border: 2px solid transparent;
    &.active {
        border: 2px solid vars.$foreground-color;
    }

    .handle {
        display: inline-block;
        cursor: pointer;
        border-left: 3px dotted vars.$foreground-color;
        border-right: 3px dotted vars.$foreground-color;
        width: 2px;
        height: 34px;
        position: absolute;
        left: 4px;
        top: 4px;
        opacity: 0.6;
    }
}

.categories .sound-admin-option span {
    cursor: pointer;
}
