@use 'vars';

.sound-player {
    margin-top: 20px;

    .categories {
        column-count: 4;
        column-gap: 30px;

        .category {
            break-inside: avoid-column;
            margin-bottom: 15px;
            .category-name {
                font-size: 22px;
                font-weight: bold;
                margin-bottom: 10px;
            }
        }
    }

    .sounds {
        .sound {
            position: relative;
            padding: 3px 5px;
            min-height: 24px;

            &:nth-child(odd) {
                background: #272727;
            }

            .sound-name {
                min-width: 250px;
                max-width: 85%;
                margin-top: 2px;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .sound-options {
                position: absolute;
                right: 5px; 
                a {
                    display: inline-block;
                    background-color: vars.$primary-color;
                    padding: 3px 5px;
                    color: vars.$foreground-color;
                    font-size: 14px;
                    text-decoration: none;
                    margin-left: 3px;
                    vertical-align: 3px;
                }
            }
        }
    }
}

@media screen and (max-width: 1360px) {
    .sound-player {
        .categories {
            column-count: 3;
        }
    }
}

@media screen and (max-width: 1024px) {
    .sound-player {
        .categories {
            column-count: 2;
        }
    }
}

@media screen and (max-width: 700px) {
    .sound-player {
        .categories {
            column-count: 1;
        }
    }
}

