$background-color: #000;
$foreground-color: #fff;
$primary-color: #8c4141;

$modal-outer-background-color: #000000b0;
$modal-inner-background-color: $background-color;
$modal-foreground-color: $foreground-color;
$modal-border-color: #ffffff80;
